* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
   
}

.wallpaper {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    top: 0;
    bottom: 0;
    background: url(https://i.ibb.co/L5W7fng/wp5156000.webp); 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: 1s;
}



.boxOver {

    position: relative;
    width: 60vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://i.ibb.co/L5W7fng/wp5156000.webp); 
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
   
    

}

.boxOver:hover {

    box-shadow: 0 0 30px #ccc, 2px 4px 60px #ccc, 4px 8px 120px #000;
}

#ele1 {
    
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 300px ;
    background-image: url(https://i.ibb.co/8NpD8Zh/1516327.jpg);
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    color:transparent;
    font-size: 11vw;
    letter-spacing: 4px;
    filter: drop-shadow(0 0 5px #000);
    transition: 1s;
    cursor: pointer;
    
    
}



@media (max-width: 600px){
    
    .boxOver {
        position: absolute;
        top: 21.6vh;
        left: 20vw;
        height: 50vh;
        width: 60vw;
        
    }

    #ele1 {
        font-size: 18vw;
    }
}

@media (max-width: 500px) and (orientation:landscape) {

    .boxOver {
        height: 80vh;
        top: 0;
    }
}